.degree-wrapper {
  background-color: #f7f7f7;
}

.summary {
  color: #111;
}

.sumText {
  font-size: 18px;
  text-align: left;
  margin-left: 5%;

}

.header1 {
  background-color: #ff5242;
  color: white;
  height: 40px;
  text-align: center;
  font-size: 20px;
}

.info-icon {
  width: 20px;
  margin-left: 1px;

}

.MultipleGPA {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #f7f7f7;
}

.dropDownGPA {
  width: 10px;
  margin-left: 10px;
}

.expandedGPASection{
  text-align: left;
  font-size: 17px;
  margin-left: 4%;

}


.ReqFormat {
  margin-left: 2%;
  text-align: left;
}

.requirementTable {
  margin-left: 10%;

}

table {
  width: 80%;
  height: 20px;
}

table th {
background-color: orange;
}

table td {
max-width: 30%;
}
