.App {

}

.landing-wrapper {
  text-align: center;
}

.degree-wrapper {
  text-align: center;
  padding-bottom: 200px;
}

.explore-wrapper {
  text-align: center;
}

.select-wrapper {
  max-width: 500px;
  margin: 50px auto;

}

.select-menu {
  width: 400px;
  margin: 0 auto;
}

.degree-listing-wrapper {
  margin: 1em;
}

.degree-listing-flex {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.degree-listing-name {
  flex-basis: 60%;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
}

.degree-listing-learn {
  padding: .5em;
  cursor: pointer;
}

.underline-text {
  text-decoration: underline;
}

.degree-listing-view {
  text-transform: uppercase;
  text-decoration: underline;
  padding: .5em;
}

.degree-listing-link {
  padding: .5em;
}

.degree-listing-desc {
  margin-left: 10%;
  text-align: left;
  width: 70%;
}

.info-icon {
  width: 20px;
}

.arrow-icon {
  width: 10px;
}
