.App {

}

.landing-wrapper {
  text-align: center;
}

.degree-wrapper {
  text-align: center;
}

.explore-wrapper {
  text-align: center;
}

.select-wrapper {
  max-width: 500px;
  margin: 50px auto;

}

.select-menu {
  width: 400px;
  margin: 0 auto;
}
